<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/internal-nlog.log">

	<!-- VARIABLES -->
	<variable name="logDir" value="${basedir}/logs" />

	<targets>
		<!-- ERROR LOG -->
		<target xsi:type="File"
				name="errorFile"
				fileName="${logDir}/errors/error-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=ToString}"
				createDirs="true"
				archiveEvery="Day"
				maxArchiveFiles="30" />

		<!-- INFO LOG -->
		<target xsi:type="File"
				name="infoFile"
				fileName="${logDir}/info/info-${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}"
				createDirs="true"
				archiveEvery="Day"
				maxArchiveFiles="30" />
	</targets>

	<rules>
		<!-- INFO & ABOVE -->
		<logger name="*" minlevel="Info" writeTo="infoFile" />

		<!-- ERROR & ABOVE -->
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>

</nlog>
